@import '_Global.scss';
@import '_Login.scss';
@import '_Main.scss';
@import '_Dashboard.scss';
@import '_IONSDashboard.scss';
@import '_Listing.scss';
@import '_Record.scss';
@import '_Dialogs.scss';
@import '_Notification.scss';
@import '_Lookup.scss';
@import '_TextEditor.scss';
@import '_TableFilter.scss';
@import '_ReportViewer.scss';
@import '_rbGrid.scss';
@import '_InSysOrgchart.scss';
@import '_TableSummary.scss';
//Module SCSS
@import 'Module/_ApproverMatrix.scss';
@import 'Module/_EmploymentRecord.scss';
@import 'Module/_EmployeeRecord.scss';
@import 'Module/_Company.scss';
@import 'Module/_ResumeBankAndSearch.scss';
@import 'Module/_MRF.scss';
@import 'Module/_MyProfile.scss';
@import 'Module/_MRFStatus.scss';
@import 'Module/_TrainingSummary.scss';
@import 'Module/_IONSTraining.scss';
@import 'Module/_CompanyRecord.scss';
@import 'Module/_RecruitmentReport.scss';
@import 'Module/_Policy.scss';
@import 'Module/_EmployeeMovement.scss';
@import 'Module/_Timekeeping.scss';
@import 'Module/_OrbitOvertime.scss';
//Mobile Screen
@import '_MobileScreen.scss';
