.mrf-status {
    .mrf-summary {
        min-width: 250px;
        max-width: 250px;

        .mrfs-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            padding: 0 15px;

            span {
                text-transform: uppercase;
                color: #aaa;
                font-weight: bold;
                font-size: 11px;
            }
        }

        .mrfs-itm-holder {
            padding: 10px;
            overflow-y: auto;
            height: calc(100vh - 165px);

            .mrfs-itm {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                margin-bottom: 10px;
                background-color: rgba(155, 89, 182, 0.2);
                border-radius: 6px;

                label {
                    margin: 0;
                    color: #555;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 10px;
                    font-weight: 500;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .mrfs-no-rec {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #aaa;
                font-size: 13px;
                font-weight: 500;
                height: 75%;
            }
        }
    }

    .app-stat {
        display: flex;
        align-items: center;

        label {
            margin: 0;
            font-weight: 500;
            margin-right: 5px;
        }
    }

    .df-head {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .rf-body {
        height: calc(100vh - 175px) !important;
    }

    .df-body.list {
        height: calc(100vh - 235px) !important;
    }

    .tbl-holder {
        height: calc(100% - 30px) !important;
    }
}
