<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ETF" type="System.Configuration.AppSettingsSection" />
    <section name="Movement" type="System.Configuration.AppSettingsSection" />
    <section name="WebNotification" type="System.Configuration.AppSettingsSection" />
    <section name="Report" type="System.Configuration.AppSettingsSection" />
    <section name="MailSender" type="System.Configuration.AppSettingsSection" />
    <section name="Timekeeping" type="System.Configuration.AppSettingsSection" />
    <section name="Payroll" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Server" value="10.12.50.46" />
    <add key="Database" value="InSys_HRMS_NEWORG" />
    <add key="UserID" value="sa" />
    <add key="Password" value="dev123sql$%^" />
    <add key="Port" value="1433" />
    <!-- Domain Username -->
    <add key="DUsername" value="Administrator" />
    <!-- Domain Password -->
    <add key="DPassword" value="dev123admin$%^" />
    <add key="DomainName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <ETF>
    <add key="CheckInterval" value="1" />
    <add key="ExcelTemplatePath" value="\\10.12.50.47\Websites\HRMS.SYSTEM\INSYS.SUITE CONTENTS\ETF" />
  </ETF>
  <Movement>
    <add key="LastDateProcess" value="" />
    <add key="CheckInterval" value="1" />
  </Movement>
  <WebNotification>
    <add key="Port" value="9002" />
    <!-- Incoming domain address -->
    <add key="WebClient" value="http://localhost:21999" />
  </WebNotification>
  <Report>
    <add key="Port" value="9001" />
    <add key="ReportPath" value="\\10.12.50.47\Websites\HRMS.SYSTEM\INSYS.SUITE CONTENTS\Reports" />
    <!-- Incoming domain address -->
    <add key="WebClient" value="http://localhost:21999" />
    <add key="KioskServer" value="10.12.50.40" />
    <add key="KioskDatabase" value="InSysKiosk_QA_2" />
    <add key="KioskUserID" value="sa" />
    <add key="KioskPassword" value="dev123sql$%^" />
    <add key="KioskPort" value="1433" />
  </Report>
  <MailSender>
    <!-- Allow apps that use less secure sign-in -->
    <!-- Google smtp.gmail.com -->
    <!-- Yahoo smtp.mail.yahoo.com -->
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="Username" value="itisystem12345678@gmail.com" />
    <add key="Password" value="qwe123$%^" />
    <!-- Google TLS 587, SSL 465 -->
    <!-- Yahoo SSL 465 -->
    <add key="Port" value="587" />
    <add key="UseSSL" value="true" />
    <add key="CheckInterval" value="1" />
  </MailSender>
  <Timekeeping>
  </Timekeeping>
  <Payroll>
  </Payroll>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>