@import '_Dark_Global.scss';
@import '_Dark_Login.scss';
@import '_Dark_Main.scss';
@import '_Dark_Dashboard.scss';
@import '_Dark_IONSDashboard.scss';
@import '_Dark_Listing.scss';
@import '_Dark_Record.scss';
@import '_Dark_Dialogs.scss';
@import '_Dark_TextEditor.scss';
@import '_Dark_TableFilter.scss';
@import '_Dark_Notification.scss';
@import '_Dark_Lookup.scss';
@import '_Dark_ReportViewer.scss';
@import '_Dark_rbGrid.scss';
@import '_Dark_InSysOrgchart.scss';
//Module SCSS
@import 'Module/_Dark_ApproverMatrix.scss';
@import 'Module/_Dark_EmploymentRecord.scss';
@import 'Module/_Dark_EmployeeRecord.scss';
@import 'Module/_Dark_Company.scss';
@import 'Module/_Dark_ResumeBankAndSearch.scss';
@import 'Module/_Dark_MRF.scss';
@import 'Module/_Dark_MyProfile.scss';
@import 'Module/_Dark_MRFStatus.scss';
@import 'Module/_Dark_TrainingSummary.scss';
@import 'Module/_Dark_IONSTraining.scss';
@import 'Module/_Dark_CompanyRecord.scss';
@import 'Module/_Dark_RecruitmentReport.scss';
@import 'Module/_Dark_EmployeeMovement.scss';
@import 'Module/_Dark_OrbitOvertime.scss';
//Mobile Screen
@import '_Dark_MobileScreen.scss';

