<div class="record">
    <div class="record-header"></div>
    <div class="record-body">
        <!--Tabs-->
        <div class="record-tab d-none d-lg-block">
            <div class="record-tab-header">
                <span>Tabs</span>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a data-target="#general" class="nav-link active" data-toggle="tab" role="tab">General</a>
                </li>
                <li class="nav-item">
                    <a ng-click="LoadEligibleTrainees()" data-target="#eligibletrainees" class="nav-link" data-toggle="tab" role="tab">Eligible Trainees</a>
                </li>
                <li class="nav-item">
                    <a ng-click="LoadTrainingApplicants()" data-target="#trainingapplicants" class="nav-link" data-toggle="tab" role="tab">Training Applicants</a>
                </li>
                <li class="nav-item">
                    <a data-target="#approvalhistory" ng-click="GetApprovalHistory(Schema.ID, Schema.ID_Employee)" class="nav-link" data-toggle="tab" role="tab">Approval History</a>
                </li>
                <li class="nav-item">
                    <a data-target="#trainingbondreport" class="nav-link" data-toggle="tab" role="tab">Training Bond Report</a>
                </li>
            </ul>
        </div>


        

        <form ng-submit="saveForm()" name="form.trainingsummary" novalidate autocomplete="off" spellcheck="false" class="tab-content" method="post">

            <div class="rh-btn-grp">
                <button class="emphasized d-none d-lg-block" ng-if="MenuPrivileges.HasNew == true && IsNull(Schema.ID, 0) != 0" ng-click="newForm()" type="button"><i class="fas fa-plus"></i> New</button>
                <button ng-if="!Schema.Posted && (MenuPrivileges.HasEdit == true && IsNull(Schema.ID, 0) >= 0) || IsNull(Schema.ID, 0) == 0" class="emphasized d-none d-lg-block" type="submit"><i class="fas fa-save"></i> Save</button>
                <button ng-if="Schema.ID > 0 && !Schema.Posted" ng-click="postTraining()" class="emphasized d-none d-lg-block" type="button"><i class="fas fa-check-circle"></i> Post</button>
                <button ng-if="Schema.Posted" ng-click="cancelTraining()" class="emphasized d-none d-lg-block" type="button"><i class="fas fa-ban"></i> Cancel</button>
                <button class="d-none d-lg-block" type="button"><i class="fas fa-trash"></i> Delete</button>

                <!--These dropdowns will display when mobile-->
                <!--Actions-->
                <div class="dropdown mobile d-block d-lg-none">
                    <button class="emphasized dropdown-toggle" type="button" data-toggle="dropdown">Actions</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button" ng-if="MenuPrivileges.HasNew == true && IsNull(Schema.ID, 0) != 0">New</button>
                        <button class="dropdown-item" type="submit" ng-if="!Schema.Posted && (MenuPrivileges.HasEdit == true && IsNull(Schema.ID, 0) >= 0) || IsNull(Schema.ID, 0) == 0">Save</button>
                        <button class="dropdown-item" type="button" ng-if="Schema.ID > 0 && !Schema.Posted" ng-click="postTraining()">Post</button>
                        <button class="dropdown-item" type="button" ng-if="Schema.Posted" ng-click="cancelTraining()">Cancel</button>
                        <button class="dropdown-item" type="button">Delete Record</button>
                    </div>
                </div>
                <!--Tabs-->
                <div class="dropdown mobile d-block d-lg-none" role="tablist">
                    <button class="emphasized dropdown-toggle" type="button" data-toggle="dropdown">Tabs</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a data-target="#general" class="nav-link active" data-toggle="tab" role="tab">General</a>
                            </li>
                            <li class="nav-item">
                                <a ng-click="LoadEligibleTrainees()" data-target="#eligibletrainees" class="nav-link" data-toggle="tab" role="tab">Eligible Trainees</a>
                            </li>
                            <li class="nav-item">
                                <a ng-click="LoadTrainingApplicants()" data-target="#trainingapplicants" class="nav-link" data-toggle="tab" role="tab">Training Applicants</a>
                            </li>
                            <li class="nav-item">
                                <a ng-click="GetApprovalHistory(Schema.ID, Schema.ID_Employee)" data-target="#approvalhistory" class="nav-link" data-toggle="tab" role="tab">Approval History</a>
                            </li>
                            <li class="nav-item">
                                <a ng-click="" data-target="#trainingbondreport" class="nav-link" data-toggle="tab" role="tab">Training Bond Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--General Tab-->
            <div id="general" role="tabpanel" class="tab-pane fade show active">
                <!--Form Header-->
                <div class="rf-header">
                    <h5>General</h5>
                </div>
                <div class="rf-body" ng-class="{'custom-scroll' : isChrome}">
                    <div class="col-xl-10 col-lg-10 col-md-12 row">

                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div ng-if="IsAllCompany" class="form-group" ng-disabled="!(RecordID == 0)" ng-required="GetIsRequired('ID_Company')">
                                <label class="control-label">Company <i title="Company is required" class="fa fa-exclamation-circle"></i></label>
                                <select ng-disabled="!(RecordID == 0)" c-label="Company" name="ID_Company" ng-options="cl.ID as cl.Name for cl in CompanyList" class="form-control" ng-model="Schema.ID_Company" ng-required="GetIsRequired('ID_Company')"></select>
                            </div>

                            <div class="form-group" readonly>
                                <label class="control-label">Ref#</label>
                                <input class="form-control" type="text" name="MRFNumber" ng-model="Schema.ReferenceNumber" readonly />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('Title')">
                                <label class="control-label">Title <i title="Title is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="text" name="Title" ng-model="Schema.Title" ng-required="GetIsRequired('Title')" maxlength="{{GetMaxLength('Title')}}" />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('Description')">
                                <label class="control-label">Description <i title="Description is required" class="fa fa-exclamation-circle"></i></label>
                                <textarea class="form-control" name="Description" ng-model="Schema.Description" ng-required="GetIsRequired('Description')" maxlength="{{GetMaxLength('Description')}}"></textarea>
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('Location')">
                                <label class="control-label">Location <i title="Location is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="text" name="Location" ng-model="Schema.Location" ng-required="GetIsRequired('Location')" maxlength="{{GetMaxLength('Location')}}" />
                            </div>

                            <div class="form-group">
                                <span class="form-check-holder">
                                    <input id="Posted-ur-check-0" name="Posted" class="form-check" ng-model="Schema.Posted" type="checkbox" disabled />
                                    <label for="Posted-ur-check-0">Posted</label>
                                </span>
                            </div>

                        </div>

                        <div class="col-xl-6 col-lg-10">
                            <br />

                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select name="ID_FilingStatus" ng-options="fs.ID as fs.Name for fs in FilingStatusList" class="form-control" ng-model="Schema.ID_FilingStatus" disabled></select>
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('ExpectedAttendees')">
                                <label class="control-label">Expected Attendees <i title="Expected Attendees is required" class="fa fa-exclamation-circle"></i></label>
                                <input c-label="Expected Attendees" class="form-control" type="number" name="ExpectedAttendees" ng-model="Schema.ExpectedAttendees" ng-required="GetIsRequired('ExpectedAttendees')" maxlength="{{GetMaxLength('ExpectedAttendees')}}" />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('ConductedBy')">
                                <label class="control-label">Conducted By <i title="Conducted By is required" class="fa fa-exclamation-circle"></i></label>
                                <input c-label="Conducted By" class="form-control" type="text" name="ConductedBy" ng-model="Schema.ConductedBy" ng-required="GetIsRequired('ConductedBy')" maxlength="{{GetMaxLength('ConductedBy')}}" />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('Price')">
                                <label class="control-label">Price <i title="Price is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="text" name="Price" ng-model="Schema.Price" ng-required="GetIsRequired('Price')" maxlength="{{GetMaxLength('Price')}}" />
                            </div>

                                <div class="form-group">
                                    <insys-upload readonly="false" required="false" target-model="Schema.Attachments" name="Attachments" options="UploadOptions"></insys-upload>
                                </div>

                            <div class="form-group" ng-required="GetIsRequired('Provider')">
                                <label class="control-label">Provider <i title="Provider is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="text" name="Provider" ng-model="Schema.Provider" ng-required="GetIsRequired('Provider')" maxlength="{{GetMaxLength('Provider')}}" />
                            </div>

                            <div class="form-group">
                                <span class="form-check-holder">
                                    <input id="WithCertification-ur-check-0" name="WithCertification" class="form-check" ng-model="Schema.WithCertification" type="checkbox" />
                                    <label for="WithCertification-ur-check-0">W/ Certification</label>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="rf-title col-xl-10 col-lg-10 col-md-12">Schedule</div>
                    <div class="col-xl-10 col-lg-10 col-md-12 row">
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('StartDate')">
                                <label class="control-label">Start Date <i title="Start Date is required" class="fa fa-exclamation-circle"></i></label>
                                <div class="input-group custom-ig-lu">
                                    <input type="text" c-label="Start Date" name="StartDate" ng-model="Schema.StartDate" ng-input text-type="'date'" class="form-control" ng-required="GetIsRequired('StartDate')"  />
                                    <span class="input-group-btn lu">
                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-required="GetIsRequired('EndDate')">
                                <label class="control-label">End Date <i title="End Date is required" class="fa fa-exclamation-circle"></i></label>
                                <div class="input-group custom-ig-lu">
                                    <input type="text" c-label="End Date" name="EndDate" ng-model="Schema.EndDate" ng-min="Schema.StartDate" ng-input text-type="'date'" class="form-control" ng-required="GetIsRequired('EndDate')" />
                                    <span class="input-group-btn lu">
                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('StartTime')">
                                <label class="control-label">Start Time <i title="Start Time is required" class="fa fa-exclamation-circle"></i></label>
                                <input type="text" c-label="Start Time" name="StartTime" ng-model="Schema.StartTime" ng-input text-type="'time'" text-format="'hh:mm A'" placeholder="hh:mm" class="form-control" ng-required="GetIsRequired('StartTime')" />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('EndTime')">
                                <label class="control-label">End Time <i title="End Time is required" class="fa fa-exclamation-circle"></i></label>
                                <input type="text" c-label="End Time" name="EndTime" ng-model="Schema.EndTime" ng-min="Schema.StartTime" ng-input text-type="'time'" text-format="'hh:mm A'" placeholder="hh:mm" class="form-control" ng-required="GetIsRequired('EndTime')" />
                            </div>
                        </div>
                    </div>
                    <div class="rf-title col-xl-10 col-lg-10 col-md-12">Other info</div>
                    <div class="col-xl-10 col-lg-10 col-md-12 row">
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('ApplicationExpirationDate')">
                                <label class="control-label">Application Closed Date <i title="Application Closed Date is required" class="fa fa-exclamation-circle"></i></label>
                                <div class="input-group custom-ig-lu">
                                    <input type="text" c-label="Application Closed Date" name="ApplicationExpirationDate" ng-model="Schema.ApplicationExpirationDate" ng-input text-type="'date'" class="form-control" ng-required="GetIsRequired('ApplicationExpirationDate')" />
                                    <span class="input-group-btn lu">
                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('CourseRating')">
                                <label class="control-label">Course Rating <i title="Course Rating is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" c-label="Course Rating" type="text" name="CourseRating" ng-model="Schema.CourseRating" ng-required="GetIsRequired('CourseRating')" maxlength="{{GetMaxLength('CourseRating')}}" />
                            </div>

                            <div class="form-group" ng-required="GetIsRequired('PreRequisite')">
                                <label class="control-label">Pre Requisite <i title="Pre Requisite is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" c-label="Pre Requisite" type="text" name="PreRequisite" ng-model="Schema.PreRequisite" ng-required="GetIsRequired('PreRequisite')" maxlength="{{GetMaxLength('PreRequisite')}}" />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('PenaltyForWithdrawal')">
                                <label class="control-label">Penalty For Withdrawal <i title="Penalty For Withdrawal is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" c-label="Penalty For Withdrawal" type="text" name="PenaltyForWithdrawal" ng-model="Schema.PenaltyForWithdrawal" ng-required="GetIsRequired('PenaltyForWithdrawal')" maxlength="{{GetMaxLength('PenaltyForWithdrawal')}}" />
                            </div>
                            <div class="form-group" ng-required="GetIsRequired('PenaltyForNoShow')">
                                <label class="control-label">Penalty For No Show <i title="Penalty For No Show is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" c-label="Penalty For No Show" type="text" name="PenaltyForNoShow" ng-model="Schema.PenaltyForNoShow" ng-required="GetIsRequired('PenaltyForNoShow')" maxlength="{{GetMaxLength('PenaltyForNoShow')}}" />
                            </div>
                        </div>
                    </div>

                    <div class="rf-title col-xl-10 col-lg-10 col-md-12">Bond Details</div>
                    <div class="col-xl-10 col-lg-10 col-md-12 row">
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('BondInMonths')">
                                <label class="control-label">Bond (In months) <i title="Bond (In months) is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="number" c-label="Bond (In months)" name="BondInMonths" ng-model="Schema.BondInMonths" ng-required="GetIsRequired('BondInMonths')" maxlength="{{GetMaxLength('BondInMonths')}}" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bond Rate</label>
                                <div class="form-radio-grp">
                                    <label class="form-radio">
                                        Fixed
                                        <input type="radio" ng-model="Schema.ID_PaymentTerms" name="ID_PaymentTerms" ng-value="1" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="form-radio">
                                        Pro-Rate
                                        <input type="radio" ng-model="Schema.ID_PaymentTerms" name="ID_PaymentTerms" ng-value="2" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-10">
                            <br />
                            <div class="form-group" ng-required="GetIsRequired('TrainingBondAmount')">
                                <label class="control-label">Training Bond Amount <i title="Training Bond Amount is required" class="fa fa-exclamation-circle"></i></label>
                                <input class="form-control" type="number" c-label="Training Bond Amount" name="TrainingBondAmount" ng-model="Schema.TrainingBondAmount" ng-required="GetIsRequired('TrainingBondAmount')" maxlength="{{GetMaxLength('TrainingBondAmount')}}" />
                            </div>
                            <div class="form-group">
                                <span class="form-check-holder">
                                    <input id="HideTrainingBond-ur-check-0" name="HideTrainingBond" class="form-check" ng-model="Schema.HideTrainingBond" type="checkbox" />
                                    <label for="HideTrainingBond-ur-check-0">Hide Training Bond</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Eligibility Tab-->
            <div id="eligibletrainees" role="tabpanel" class="tab-pane fade">
                <div class="rf-header">
                    <h5>Eligible Trainees</h5>
                </div>

                <div class="rf-body" ng-class="{'custom-scroll' : isChrome}">
                    <div class="detail-form">
                        <div class="df-head tabbed">

                            <ul class="nav nav-tabs d-none d-md-flex" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a ng-click="SetClickedTab(1)" class="nav-link active" id="department-tab" data-toggle="tab" data-target="#department" role="tab" aria-controls="department" aria-selected="true">Department</a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="SetClickedTab(2)" class="nav-link" id="designation-tab" data-toggle="tab" data-target="#designation" role="tab" aria-controls="designation" aria-selected="false">Designation</a>
                                </li>
                                <li class="nav-item">
                                    <a ng-click="SetClickedTab(3)" class="nav-link" id="employee-tab" data-toggle="tab" data-target="#employee" role="tab" aria-controls="employee" aria-selected="false">Employee</a>
                                </li>
                            </ul>

                            <!--Displays Dropdown when mobile-->
                            <div class="dropdown mobile d-block d-md-none">
                                <button class="emphasized dropdown-toggle" type="button" data-toggle="dropdown">Tabs</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a ng-click="SetClickedTab(1)" class="nav-link active" id="department-tab" data-toggle="tab" data-target="#department" role="tab" aria-controls="department" aria-selected="true">Department</a>
                                        </li>
                                        <li class="nav-item">
                                            <a ng-click="SetClickedTab(2)" class="nav-link" id="designation-tab" data-toggle="tab" data-target="#designation" role="tab" aria-controls="designation" aria-selected="false">Designation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a ng-click="SetClickedTab(3)" class="nav-link" id="employee-tab" data-toggle="tab" data-target="#employee" role="tab" aria-controls="employee" aria-selected="false">Employee</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="df-btn-grp">
                                <button ng-click="newEligibleTrainees()" type="button"><i class="fas fa-plus"></i> Add</button>
                                <button ng-click="deleteEligibleTrainiees()" type="button"><i class="fas fa-trash"></i> Delete</button>
                            </div>
                        </div>

                        <div class="tab-content" id="myTabContent">

                            <!-- ****Department**** -->
                            <div class="tab-pane fade show active" id="department" role="tabpanel" aria-labelledby="department-tab">
                                <div class="df-body list">
                                    <div class="tbl-holder no-paging" ng-class="{ 'custom-scroll' : isChrome }">
                                        <table id="eligible_department" class="table table-striped table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="selectEligibleDepartmentRecords" ng-model="SelectAllEligibleDepartmentRows" ng-click="CheckAllEligibleDepartmentRecords()" />
                                                        <label for="selectEligibleDepartmentRecords"></label>
                                                    </th>
                                                    <th>Department</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="edr in EligibleTraineesRecord | filter:DepartmentType">
                                                    <td class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="dsd-sdc-{{$index}}" ng-model="edr.IsChecked" />
                                                        <label for="dsd-sdc-{{$index}}"></label>
                                                    </td>
                                                    <td>
                                                        <div insys-lookup is-required="GetIsRequired('ID_Value')" lookup-options="departmentlookup" lookup-data="{'model': edr,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Value', 'displayContainer': 'Name', 'label': 'Department'}"></div>
                                                    </td>
                                                </tr>
                                                <tr class="no_record" ng-if="EligibleTraineesRecord.length == 0">
                                                    <td>
                                                        <div class="no-rec-ico">
                                                            <i class="fas fa-file-alt"></i>
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                        <p>No record found.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- ****Designation**** -->
                            <div class="tab-pane fade" id="designation" role="tabpanel" aria-labelledby="designation-tab">
                                <div class="df-body list">
                                    <div class="tbl-holder no-paging" ng-class="{ 'custom-scroll' : isChrome }">
                                        <table id="eligible_designation" class="table table-striped table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="selectEligibleDesignationRecords" ng-model="SelectAllEligibleDesignationRows" ng-click="CheckAllEligibleDesignationRecords()" />
                                                        <label for="selectEligibleDesignationRecords"></label>
                                                    </th>
                                                    <th>Designation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="edr in EligibleTraineesRecord | filter:DesignationType">
                                                    <td class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="designation-dsd-sdc-{{$index}}" ng-model="edr.IsChecked" />
                                                        <label for="designation-dsd-sdc-{{$index}}"></label>
                                                    </td>
                                                    <td>
                                                        <div insys-lookup is-required="GetIsRequired('ID_Value')" lookup-options="designationlookup" lookup-data="{'model': edr,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Value', 'displayContainer': 'Name', 'label': 'Designation'}"></div>
                                                    </td>
                                                </tr>
                                                <tr class="no_record" ng-if="EligibleTraineesRecord.length == 0">
                                                    <td>
                                                        <div class="no-rec-ico">
                                                            <i class="fas fa-file-alt"></i>
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                        <p>No record found.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- **** Employee **** -->
                            <div class="tab-pane fade" id="employee" role="tabpanel" aria-labelledby="employee-tab">
                                <div class="df-body list">
                                    <div class="tbl-holder no-paging" ng-class="{ 'custom-scroll' : isChrome }">
                                        <table id="eligible_employee" class="table table-striped table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="selectEligibleEmployeeRecords" ng-model="SelectAllEligibleEmployeeRows" ng-click="CheckAllEligibleEmployeeRecords()" />
                                                        <label for="selectEligibleEmployeeRecords"></label>
                                                    </th>
                                                    <th>Employee</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="eer in EligibleTraineesRecord">
                                                    <td class="tbl-ctrl">
                                                        <input type="checkbox" class="tbl-check" id="employee-dsd-sdc-{{$index}}" ng-model="eer.IsChecked" />
                                                        <label for="employee-dsd-sdc-{{$index}}"></label>
                                                    </td>
                                                    <td>
                                                        <div insys-lookup is-required="GetIsRequired('ID_Value')" lookup-options="employeeLookup" lookup-data="{'model': eer,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Value', 'displayContainer': 'Name', 'label': 'Employee'}"></div>
                                                    </td>
                                                </tr>
                                                <tr class="no_record" ng-if="EligibleEmployeeRecord.length == 0">
                                                    <td>
                                                        <div class="no-rec-ico">
                                                            <i class="fas fa-file-alt"></i>
                                                            <i class="fas fa-search"></i>
                                                        </div>
                                                        <p>No record found.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Training Applicants Tab-->
            <div id="trainingapplicants" role="tabpanel" class="tab-pane fade">
                <div class="rf-header">
                    <h5>Training Applicants</h5>
                </div>

                <div class="rf-body" ng-class="{'custom-scroll' : isChrome}">
                    <div class="detail-form">
                        <div class="df-head flex-end">
                            <div class="df-btn-grp">
                                <button ng-click="UpdateStatus()" type="button"><i class="fas fa-redo"></i> Update</button>
                            </div>
                        </div>
                        <div class="df-body list">
                            <div class="tbl-holder no-paging" ng-class="{ 'custom-scroll' : isChrome }">
                                <table id="dailyschedule_details" class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="selectAllDailyScheduleDetailRecords" ng-model="SelectAllTrainingApplicantRows" ng-click="CheckAllTrainingApplicantRecords()" />
                                                <label for="selectAllDailyScheduleDetailRecords"></label>
                                            </th>
                                            <th>Employee</th>
                                            <th>Request Status</th>
                                            <th>Reason</th>
                                            <th>Filing Status</th>
                                            <th>Attachments</th>
                                            <th>Post Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="tar in TrainingApplicantsRecord" style="color: red">

                                            <td class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="dsd-sdc-{{$index}}" ng-model="tar.IsChecked" />
                                                <label for="dsd-sdc-{{$index}}"></label>
                                            </td>

                                            <td>
                                                <input class="form-control" ng-disabled="true" type="text" name="EmployeeName" ng-model="tar.EmployeeName" />
                                            </td>

                                            <td>
                                                <input class="form-control" ng-disabled="true" type="text" name="Status" ng-model="tar.Status" />
                                            </td>

                                            <td>
                                                <input class="form-control" ng-disabled="true" type="text" name="ReasonForNotAttending" ng-model="tar.ReasonForNotAttending" />
                                            </td>

                                            <td>
                                                <select disabled class="form-control" name="ID_EmployeeFilingStatus" ng-model="tar.ID_EmployeeFilingStatus" ng-options="fs.ID as fs.Name for fs in FilingStatus "></select>
                                            </td>

                                            <td>
                                                <insys-upload readonly="((!(tar.ID_Status == 1)) || (tar.ID_EmployeeFilingStatus != 2))" target-model="tar.Attachments" name="Attachments" options="UploadOptions"></insys-upload>
                                            </td>

                                            <!--Attachments-->
                                            <td>
                                                <select ng-disabled="((!(tar.ID_Status == 1)) || (tar.ID_EmployeeFilingStatus != 2))" class="form-control" name="ID_PostStatus" ng-model="tar.ID_PostStatus" ng-options="fs.ID as fs.Name for fs in PostStatusList "></select>
                                            </td>

                                        </tr>
                                        <tr class="no_record" ng-if="TrainingApplicantsRecord.length == 0">
                                            <td>
                                                <div class="no-rec-ico">
                                                    <i class="fas fa-file-alt"></i>
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <p>No record found.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Approval History Tab-->
            <div id="approvalhistory" class="tab-pane fade">
                <div class="rf-header">
                    <h5>Approval History</h5>
                </div>
                <div class="rf-body with-banner">
                    <div class="col-xl-10 col-lg-10 col-md-12 row">
                        <div class="app-hist" ng-repeat="d in ApprovalHistory">
                            <i class="fas" ng-class="getFilingStatusIcon(d.ApprovalAction)"></i>
                            <div class="ah-desc">
                                <h5 ng-bind="d.ApprovalAction + ' by ' + d.Approver"></h5>
                                <label ng-bind="FormatDate(d.DateTimeCreated, 'MMM DD, YYYY hh:mm A')"></label>
                                <p ng-bind="IsNull(d.ApproverComment, 'No comment')"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Training Bond Report-->
            <div ng-if="(Schema.ID > 0)" id="trainingbondreport" class="tab-pane fade report-tab-pane">
                <insys-report options="rptOptions"></insys-report>
            </div>
        </form>
    </div>
</div>
