<div class="panel">
    <div class="panel-heading">
        <label><i class="fas fa-clipboard-check"></i> Resume Review</label>
        <i class="fas fa-times" ng-click="close()"></i>
    </div>
    <div class="panel-body">
        <div class="rs-head">
            <div class="rs-pic"></div>
            <div class="rs-desc">
                <h4>John Doe</h4>
                <label>Applying for <span>Software Developer</span></label>
            </div>
        </div>
        <div class="rs-body">
            <div class="rs-left">
                <div class="rs-itm-holder">
                    <div class="rs-left-itm"><i class="fas fa-phone"></i> 8-7000</div>
                    <div class="rs-left-itm"><i class="fas fa-mobile-alt"></i> 0919-306-3667</div>
                    <div class="rs-left-itm"><i class="fas fa-envelope"></i> john_doe@gmail.com</div>
                    <br />
                    <div class="rs-left-itm"><i class="fas fa-venus-mars"></i> Male</div>
                    <div class="rs-left-itm"><i class="fas fa-user-tag"></i> Single</div>
                    <div class="rs-left-itm"><i class="fas fa-birthday-cake"></i> June 12, 1985</div>
                    <br />
                    <div class="rs-left-itm"><i class="fas fa-map-marker-alt"></i> Ph4.4 Bagong Silang, Caloocan City</div>
                </div>
            </div>
            <div class="rs-right">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" data-target="#sum-cv-1" role="tab">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-2" role="tab">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-3" role="tab">Identification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-4" role="tab">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-5" role="tab">Character Reference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-6" role="tab">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-7" role="tab">Employment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" data-target="#sum-cv-8" role="tab">Licenses/Certificates</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!--Personal-->
                    <div class="tab-pane fade show active" id="sum-cv-1" role="tabpanel">
                        <div class="col-md-10 row">
                            <div class="col-md-6">
                                <div class="lbl-grp">
                                    <label>Last name</label>
                                    <p>Doe</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>First name</label>
                                    <p>John</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Middlename</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Gender</label><p>Male</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Civil Status</label><p>Single</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Nationality</label><p>Filipino</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Citizenship</label><p>Filipino</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="lbl-grp">
                                    <label>Religion</label>
                                    <p>Catholic</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Blood Type</label>
                                    <p>O Positive</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Weight(lbs)</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Height(cm)</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Birth Date</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Birth Place</label>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Application Tab-->
                    <div class="tab-pane fade" id="sum-cv-2" role="tabpanel">
                        <div class="col-md-10 row">
                            <div class="col-md-6">
                                <div class="lbl-grp">
                                    <label>Position Applied For</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Desired Position (Optional)</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Available Start Date</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Desired Pay</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Sourcing Partner</label><p>-</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="lbl-grp">
                                    <label>Resume</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Home Phone No.</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Mobile Phone No.</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>E-mail Address</label>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Identification Tab-->
                    <div class="tab-pane fade" id="sum-cv-3" role="tabpanel">
                        <div class="col-md-10 row">
                            <div class="col-md-6">
                                <div class="lbl-grp">
                                    <label>SSS No.</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>HDMF No.</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>PhilHealth No.</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>TIN</label>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Address Tab-->
                    <div class="tab-pane fade" id="sum-cv-4" role="tabpanel">
                        <div class="col-md-10 row">
                            <div class="col-md-6">
                                <div class="rs-title">Permanent</div>

                                <div class="lbl-grp">
                                    <label>No/Blk/Lot</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>StreetName/Subdivision</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Province</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Barangay</label>
                                    <p>-</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="rs-title">Current (Optional)</div>

                                <div class="lbl-grp">
                                    <label>No/Blk/Lot</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>StreetName/Subdivision</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Province</label>
                                    <p>-</p>
                                </div>
                                <div class="lbl-grp">
                                    <label>Barangay</label>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Character Reference Tab-->
                    <div class="tab-pane fade" id="sum-cv-5" role="tabpanel">
                        <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                            <table class="table table-striped table-hover table-md">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Contact No.</th>
                                        <th>Company</th>
                                        <th>Position</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Education Tab-->
                    <div class="tab-pane fade" id="sum-cv-6" role="tabpanel">
                        <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                            <table class="table table-striped table-hover table-md">
                                <thead>
                                    <tr>
                                        <th>Educational Attainment</th>
                                        <th>School Attended</th>
                                        <th>Course/Degree</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Employment Tab-->
                    <div class="tab-pane fade" id="sum-cv-7" role="tabpanel">
                        <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                            <table class="table table-striped table-hover table-md">
                                <thead>
                                    <tr>
                                        <th>Previous Company</th>
                                        <th>Address</th>
                                        <th>Salary</th>
                                        <th>Position</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Reason for leaving</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Licenses/Certificates Tab-->
                    <div class="tab-pane fade" id="sum-cv-8" role="tabpanel">
                        <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                            <table class="table table-striped table-hover table-md">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>License No.</th>
                                        <th>Validity Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            <button type="button" class="btn cancel" ng-click="close()">Cancel</button>
            <button ng-click="proceed()" type="button" class="btn emphasized">Proceed</button>
        </div>
    </div>
</div>