<div class="panel">
    <div class="panel-heading"><label><i class="fas fa-users-cog"></i> Change Password.</label></div>
    <div class="panel-body">
        <div>
            <form name="AccountForm" ng-submit="SetupAccount()" autocomplete="off" method="post">
                <div class="form-group" required="required">
                    <label class="control-label">New password <i title="This field is required" class="fas fa-exclamation-circle"></i></label>
                    <input class="form-control" type="password" name="OldPassword" ng-model="UserData.NewPassword" required="required" min="6" />
                </div>
                <div class="form-group" required="required">
                    <label class="control-label">Confirm password <i title="This field is required" class="fas fa-exclamation-circle"></i></label>
                    <input class="form-control" type="password" name="NewPassword" ng-model="UserData.ConfirmPassword" required="required" min="6" />
                </div>

                <div class="panel-footer">
                    <button type="submit" class="btn emphasized">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>