<div class="panel" ng-init="Init()">
    <div class="panel-heading">
        <label><i class="fas fa-plus"></i> Change of Schedule</label>
    </div>
    <form name="cosFrm">
        <div class="panel-body">
            <div class="computed-panel">
                <!--General-->
                <div class="cp-title">General</div>
                <div class="cp-item">
                    <label>Reference No.:</label>
                    <span ng-bind="Data.ReferenceNo"></span>
                </div>
                <div class="cp-item">
                    <label>Date Filed:</label>
                    <span ng-bind="Data.FiledDate | date:'MMM. dd, yyyy'"></span>
                </div>
                <div class="cp-item">
                    <label>Posted:</label>
                    <span ng-bind="Data.IsPosted ? 'Yes' : 'No'"></span>
                </div>
                <div class="cp-item">
                    <label>Status:</label>
                    <span ng-bind="Data.Status"></span>
                </div>

                <!--Application Form-->
                <div class="cp-title">Application Form</div>
                <div class="cp-item">
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">Start Date</label>
                            <input type="text" name="StartDate" ng-model="Data.StartDate" ng-input cascade="GererateCOSDetail(DateSelected)" text-type="'date'" text-format="'MM/DD/YYYY'" placeholder="mm/dd/yyyy" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label class="control-label">End Date</label>
                            <input type="text" name="EndDate" ng-model="Data.EndDate" ng-input cascade="GererateCOSDetail(DateSelected)" text-type="'date'" text-format="'MM/DD/YYYY'" placeholder="mm/dd/yyyy" class="form-control" />
                        </div>
                        <div class="form-group col-12">
                            <label class="control-label">Reason</label>
                            <textarea name="Reason" ng-model="Data.Reason" placeholder="Your comment here..." class="form-control"></textarea>
                        </div>

                    </div>
                </div>

                <!--Approval History-->
                <div class="cp-item" ng-if="Data.ApprovalDate">
                    <label>Date Approved:</label>
                    <span ng-bind="Data.ApprovalDate"></span>
                </div>
                <div class="cp-title">Approval History</div>
                <span ng-if="ApprovalHistories.length == 0">No Approvals</span>
                <div class="filing-status" ng-repeat="history in ApprovalHistories">
                    <i class="status-icon fas fa-check-circle" ng-class="{'fas fa-check-circle' : history.ApprovalAction == 'Approve','fas fa-times-circle' : history.ApprovalAction == 'Disapprove'}"></i>
                    <div class="filing-right">
                        <div class="filing-top">
                            <h5 ng-bind="history.Approver"></h5>
                            <label ng-bind="history.DateTimeCreated | date:'MM/dd/yyyy hh:mm a'"></label>
                        </div>
                        <div class="approver-lvl" ng-bind="'Approver ' + history.ApprovalLevel"></div>
                        <div class="approver-reason" ng-bind="history.ApproverComment || 'No Approver comment'"></div>
                    </div>
                </div>
            </div>


            <div class="field-panel">
                <div class="row">
                    <!--Attachments-->
                    <div class="filing-title col-12">Attachments</div>
                    <div class="listing-container col-12" style="min-height: 80px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <insys-upload readonly="false" name="Attachment" target-model="Data.Attachment" options="UploadOptions"></insys-upload>
                                    </td>
                                    <td><input class="form-control" name="AttachmentRemarks" ng-model="Data.AttachmentRemarks" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Detail-->
                    <div class="filing-title col-12">Detail</div>
                    <div class="listing-container col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Work Date</th>
                                    <th>Old Schedule</th>
                                    <th>New Schedule</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cs in COSDetailOption.Data.Rows | orderBy : 'WorkDate'">
                                    <td>
                                        <input readonly class="form-control" name="WorkDate" ng-value="FormatDate(cs.WorkDate, 'MMM. DD, YYYY - ddd.')" />
                                    </td>
                                    <td>
                                        <input readonly class="form-control" name="ShiftSchedule_Old" ng-value="cs.ShiftSchedule_Old" />
                                    </td>
                                    <td>
                                        <select c-label="New Schedule" name="ID_ShiftSchedule_New" ng-options="sl.ID as sl.Name for sl in ScheduleList" class="form-control" ng-model="cs.ID_ShiftSchedule_New"></select>
                                    </td>
                                    <td>
                                        <input class="form-control" name="Comment" ng-model="cs.Comment" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn cancel" ng-click="Close()">Close</button>
            <button type="button" class="btn emphasized" ng-if="!Data.IsPosted" ng-click="Save(false)">Save</button>
            <!--<button type="button" class="btn emphasized" ng-if="Data.ID > 0 && !Data.IsPosted" ng-click="Post(false)">Post</button>-->
            <button type="button" class="btn emphasized" ng-if="!Data.IsPosted" ng-click="Save(true)">Save & Post</button>
            <button type="button" class="btn emphasized" ng-if="Data.IsPosted && Data.ID_FilingStatus == 2" ng-click="Cancel()">Cancel Overtime</button>
            <button type="button" class="btn emphasized" ng-if="Data.IsPosted && Data.ID_FilingStatus == 1" ng-click="Unpost()">Unpost</button>
        </div>
    </form>
</div>