<div class="ew-main">

    <div class="ew-left d-none d-md-flex">
        <div class="ew-tab">
            <div id="ew-ti-0" class="ew-tab-item active"><i class="fas fa-user-check"></i> Personal Info</div>
            <div id="ew-ti-1" class="ew-tab-item"><i class="fas fa-map-marker-alt"></i> Address</div>
            <div id="ew-ti-2" class="ew-tab-item"><i class="fas fa-id-card"></i> Government Info</div>
            <div id="ew-ti-3" class="ew-tab-item"><i class="fas fa-user-graduate"></i>Educational Background</div>
            <div id="ew-ti-4" class="ew-tab-item"><i class="fas fa-id-badge"></i> Character Reference</div>
            <div id="ew-ti-5" class="ew-tab-item"><i class="fas fa-certificate"></i> Licenses/Certificates</div>
            <div id="ew-ti-6" class="ew-tab-item"><i class="fas fa-briefcase"></i> Previous Employment</div>
        </div>
    </div>

    <div class="ew-right">
        <div class="ew-body">
            <div id="ew-tc-0" class="ew-tab-content active">
                <form class="ew-right" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Employee Record</h5>
                    <div class="ew-content">
                        <div class="ew-tc-title col-lg-10 col-12 ">General Info</div>
                        <div class="col-lg-10 col-12 row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">Last Name <i title="Lastname is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" ng-input restrict-input="'lettersonly'" name="LastName" ng-model="tPersona.LastName" type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Middle Name <i title="Middle Name is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" ng-input restrict-input="'lettersonly'" name="MiddleName" ng-model="tPersona.MiddleName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Nick Name <i title="Nick Name is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" ng-input restrict-input="'lettersonly'" name="NickName" ng-model="tPersona.NickName" type="text" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Birthdate <i title="Birthdate is required" class="fa fa-exclamation-circle"></i></label>
                                    <div class="input-group custom-ig-lu">

                                        <input type="text" name="BirthDate" ng-model="tPersona.BirthDate" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control"/>
                                        <span class="input-group-btn lu">
                                            <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div insys-lookup lookup-options="CivilStatusLookup" lookup-data="{'model': tPersona,'targetValue': 'ID', 'targetDisplay': 'Name' , 'valueContainer': 'ID_CivilStatus', 'displayContainer': 'CivilStatus', 'label': 'Civil Status'}"></div>
                                </div>
                                <div class="form-group">
                                    <div insys-lookup lookup-options="BloodTypeLookup" lookup-data="{'model': tPersona,'targetValue': 'ID', 'targetDisplay': 'Name' , 'valueContainer': 'ID_BloodType', 'displayContainer': 'BloodType', 'label': 'Blood Type'}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Weight (kg) <i title="Weight is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="Weight" ng-model="tPersona.Weight" type="text" ng-input text-type="'decimal'" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">First Name <i title="Firstname is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" ng-input restrict-input="'lettersonly'" name="FirstName" ng-model="tPersona.FirstName" type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Suffix <i title="Suffix is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" ng-input restrict-input="'lettersonly'" name="Suffix" ng-model="tPersona.Suffix" type="text" />
                                </div>
                                <div class="form-group">
                                    <div insys-lookup lookup-options="GenderLookup" lookup-data="{'model': tPersona,'targetValue': 'ID', 'targetDisplay': 'Name' , 'valueContainer': 'ID_Gender', 'displayContainer': 'Gender', 'label': 'Gender'}"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Birth Of Place <i title="Birth Of Place is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="Suffix" ng-model="tPersona.BirthPlace" type="text" />
                                </div>
                                <div class="form-group">
                                    <div insys-lookup lookup-options="ReligionLookup" lookup-data="{'model': tPersona,'targetValue': 'ID', 'targetDisplay': 'Name' , 'valueContainer': 'ID_Religion', 'displayContainer': 'Religion', 'label': 'Religion'}"></div>
                                </div>

                                <div class="form-group">
                                    <div insys-lookup lookup-options="CitizenshipLookup" lookup-data="{'model': tPersona,'targetValue': 'ID', 'targetDisplay': 'Name' , 'valueContainer': 'ID_Citizenship', 'displayContainer': 'Citizenship', 'label': 'Citizenship'}"></div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Height (cm)<i title="Height is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="Suffix" ng-model="tPersona.Height" type="text" ng-input text-type="'decimal'" />
                                </div>
                            </div>
                        </div>

                        <div class="ew-tc-title col-lg-10 col-12 ">Contact Info</div>
                        <div class="col-lg-10 col-12 row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">Mobile No. <i title="Mobile No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <div class="to-inline">
                                        <input onkeydown="return false;" class="form-control item" value="+63"/>
                                        <input class="form-control" name="MobileNo" ng-model="tPersona.MobileNo" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Phone No. <i title="Phone No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="PhoneNo" ng-model="tPersona.PhoneNo" type="text"  ng-input text-type="'decimal'"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">Email Address <i title="Email Address is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="EmailAddress" ng-model="tPersona.EmailAddress" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 4 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <!--address-->
            <div id="ew-tc-1" class="ew-tab-content">
                <form class="ew-right" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Address</h5>
                    <div class="ew-content">
                        <div class="ew-tc-title col-lg-10 col-12 ">General Info</div>
                        <div class="col-lg-10 col-12 row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <center>
                                        <span class="form-check-holder"><input type="checkbox" style="opacity:0;" /></span>
                                    </center>
                                </div>
                                <div class="rs-title">Permanent</div>
                                <div class="form-group">
                                    <label class="control-label">No/Blk/Lot <i title="No/Blk/Lot is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="HouseNo" ng-model="PermanentPersonaAddress.HouseNo" type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Street/Subdivision <i title="Street/Subdivision is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="StreetName" c-label="Street Name" ng-model="PermanentPersonaAddress.StreetName" type="text" />
                                </div>
                                <div cascade="UpdateCity(row, false)" insys-lookup lookup-options="provinceLookup" lookup-data="{'model': PermanentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Province', 'displayContainer': 'Province', 'label': 'Province'}"></div>
                                <div is-disabled="DoExist(PermanentPersonaAddress.ID_Province, 1)" cascade="UpdateBarangay(row, false)" insys-lookup lookup-options="cityLookup" lookup-data="{'model': PermanentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_City', 'displayContainer': 'City', 'label': 'City'}"></div>
                                <div is-disabled="DoExist(PermanentPersonaAddress.ID_City, 2)"  insys-lookup lookup-options="barangayLookup" lookup-data="{'model': PermanentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Barangay', 'displayContainer': 'Barangay', 'label': 'Barangay'}"></div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                        <span class="form-check-holder"><input type="checkbox" class="tbl-check" ng-model="SameAsPermanent" ng-change="CheckBoxChange()"/><label class="control-label">Same as Permanent</label></span>
                                </div>
                                <div class="rs-title">Present</div>
                                <div class="form-group">
                                    <label class="control-label">No/Blk/Lot <i title="No/Blk/Lot is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="HouseNo" ng-model="PresentPersonaAddress.HouseNo" type="text" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Street/Subdivision <i title="Street/Subdivision is required" class="fa fa-exclamation-circle"></i></label>
                                    <input class="form-control" name="StreetName" c-label="Street Name" ng-model="PresentPersonaAddress.StreetName" type="text" />
                                </div>
                                <div cascade="UpdateCity(row, true)" insys-lookup lookup-options="provinceLookup2" lookup-data="{'model': PresentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Province', 'displayContainer': 'Province', 'label': 'Province'}"></div>
                                <div is-disabled="DoExist(PresentPersonaAddress.ID_Province, 3)" cascade="UpdateBarangay(row, true)" insys-lookup lookup-options="cityLookup2" lookup-data="{'model': PresentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_City', 'displayContainer': 'City', 'label': 'City'}"></div>
                                <div is-disabled="DoExist(PresentPersonaAddress.ID_City, 4)" insys-lookup lookup-options="barangayLookup2" lookup-data="{'model': PresentPersonaAddress,'targetValue': 'ID', 'targetDisplay': 'Name', 'valueContainer': 'ID_Barangay', 'displayContainer': 'Barangay', 'label': 'Barangay'}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 6 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="ew-tc-2" class="ew-tab-content">
                <form class="ew-right" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Government Info</h5>
                    <div class="ew-content">
                        <!--, PhilHealthNo, , GSISNo, TINNo-->

                        <div class="col-lg-10 col-12 row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">SSS No. <i title="SSS No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input ng-blur="GovBlur()" class="form-control" name="SSSNo" ng-model="tPersona.SSSNo" type="text"  ng-input text-type="'number'"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">HDMF No. <i title="HDMF No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input ng-blur="GovBlur()" class="form-control" name="HDMFNo" ng-model="tPersona.HDMFNo" type="text"  ng-input text-type="'number'"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">GSIS No.<i title="GSIS No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input ng-blur="GovBlur()" class="form-control" name="GSISNo" ng-model="tPersona.GSISNo" type="text"  ng-input text-type="'number'"/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">PhilHealth No. <i title="PhilHealth No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input ng-blur="GovBlur()" class="form-control" name="PhilHealthNo" ng-model="tPersona.PhilHealthNo" type="text" ng-input text-type="'number'" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">TIN No.<i title="TIN No. is required" class="fa fa-exclamation-circle"></i></label>
                                    <input ng-blur="GovBlur()" class="form-control" name="TINNo" ng-model="tPersona.TINNo" type="text" ng-input text-type="'number'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 4 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="ew-tc-3" class="ew-tab-content">
                <form class="ew-right" name="educationalbackground" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Educational Background</h5>
                    <div class="ew-content">

                        <div class="df-head flex-end">
                            <div class="df-btn-grp">
                                <button ng-click="addRow(EducationalAttainment, EmploymentSchema)" type="button"><i class="fas fa-plus"></i> Add</button>
                                <button ng-click="deleteCheckedRow(EmploymentHistory)" type="button"><i class="fas fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div class="list">
                            <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                                <table id="test" class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="SelectAllEducationalBackGround" ng-model="SelectAllEducationalBackGround" ng-click="CheckAllDetails()" />
                                                <label for="SelectAllEducationalBackGround"></label>
                                            </th>
                                            <th>Educational Attainment</th>
                                            <th>School Attended</th>
                                            <th>Course/Degree</th>
                                            <th>From</th>
                                            <th>To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in SchemaEducationalBackGround">
                                            <td class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="sdc-2-{{$index}}" ng-model="d.IsChecked" />
                                                <label for="sdc-2-{{$index}}"></label>
                                            </td>
                                            <td>
                                                <select name="ID_EducationAttainmentStatus" ng-model="d.ID_EducationAttainmentStatus" ng-options="cs.ID as cs.Name for cs in EducationalAttaintment " class="form-control"></select>
                                            </td>
                                            <td><input class="form-control" name="SchoolAttended" type="text" ng-model=d.SchoolAttended></td>
                                            <td><input class="form-control" name="CourseDegree" type="text" ng-model=d.CourseDegree></td>
                                            <td>
                                                <!--<div class="input-group custom-ig-lu">
                                                    <input type="text" name="From" ng-min="Today" ng-model="d.From" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control" />
                                                    <span class="input-group-btn lu">
                                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                                    </span>
                                                </div>-->
                                                <input class="form-control" name="From" type="text" ng-model=d.From>
                                            </td>
                                            <td>
                                                <input class="form-control" name="To" type="text" ng-model=d.To>
                                                <!--<div class="input-group custom-ig-lu">
                                                    <input type="text" name="To" ng-min="Today" ng-model="d.To" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control" />
                                                    <span class="input-group-btn lu">
                                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                                    </span>
                                                </div>-->
                                            </td>
                                        </tr>
                                        <tr class="no_record" ng-if="SchemaEducationalBackGround.length == 0">
                                            <td>
                                                <div class="no-rec-ico">
                                                    <i class="fas fa-file-alt"></i>
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <p>No record found.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 5 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="ew-tc-4" class="ew-tab-content">
                <form class="ew-right" name="characterreference" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Character Reference</h5>
                    <div class="ew-content">

                        <div class="df-head flex-end">
                            <div class="df-btn-grp">
                                <button ng-click="NewCharReference()" type="button"><i class="fas fa-plus"></i> Add</button>
                                <button ng-click="DelCharReference()" type="button"><i class="fas fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div class="list">
                            <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="SelectAllCharacterReference" ng-model="SelectAllCharacterReference" ng-click="CheckAllCharReference()" />
                                                <label for="SelectAllCharacterReference"></label>
                                            </th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Company</th>
                                            <th>Contact No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in SchemaCharacterReference">
                                            <td class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="sdc-3-{{$index}}" ng-model="d.IsChecked" />
                                                <label for="sdc-3-{{$index}}"></label>
                                            </td>
                                            <td><input class="form-control" type="text" name="Name" ng-model=d.Name></td>
                                            <td><input class="form-control" type="text" name="Position" ng-model=d.Position></td>
                                            <td><input class="form-control" type="text" name="Company" ng-model=d.Company></td>
                                            <td><input class="form-control" type="text" name="ContactNo" ng-model=d.ContactNo></td>
                                        </tr>
                                        <tr class="no_record" ng-if="SchemaCharacterReference.length == 0">
                                            <td>
                                                <div class="no-rec-ico">
                                                    <i class="fas fa-file-alt"></i>
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <p>No record found.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 5 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="ew-tc-5" class="ew-tab-content">
                <form class="ew-right" name="licenseandcertificates" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Licenses/Certificates</h5>
                    <div class="ew-content">

                        <div class="df-head flex-end">
                            <div class="df-btn-grp">
                                <button ng-click="NewLicensesAndCertificates()" type="button"><i class="fas fa-plus"></i> Add</button>
                                <button ng-click="DelLicensesAndCertificates()" type="button"><i class="fas fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div class="list">
                            <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="SelectAllLicensesAndCertificates" ng-model="SelectAllLicensesAndCertificates" ng-click="CheckAllLicensesAndCertificates()" />
                                                <label for="SelectAllLicensesAndCertificates"></label>
                                            </th>
                                            <th>Name</th>
                                            <th>License No.</th>
                                            <th>Description</th>
                                            <th>Validity Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in SchemaLicensesCertificates">
                                            <td class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="sdc-3-{{$index}}" ng-model="d.IsChecked" />
                                                <label for="sdc-3-{{$index}}"></label>
                                            </td>
                                            <td><input class="form-control" type="text" name="Name" ng-model=d.Name></td>
                                            <td><input class="form-control" type="text" name="LicenseNo" ng-model=d.LicenseNo></td>
                                            <td><input class="form-control" type="text" name="Description" ng-model=d.Description></td>
                                            <td>
                                                <div class="input-group custom-ig-lu">
                                                    <input type="text" name="ValidityDate" ng-min="Today" ng-model="d.ValidityDate" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control" />
                                                    <span class="input-group-btn lu">
                                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="no_record" ng-if="SchemaLicensesCertificates.length == 0">
                                            <td>
                                                <div class="no-rec-ico">
                                                    <i class="fas fa-file-alt"></i>
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <p>No record found.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 6 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="ew-tc-6" class="ew-tab-content">
                <form class="ew-right" name="previousemployment" method="post" ng-submit="Next()">
                    <h5 class="ew-title">Previous Employment</h5>
                    <div class="ew-content">

                        <div class="df-head flex-end">
                            <div class="df-btn-grp">
                                <button ng-click="NewPreviousEmployment()" type="button"><i class="fas fa-plus"></i> Add</button>
                                <button ng-click="DelPreviousEmployment()" type="button"><i class="fas fa-trash"></i> Remove</button>
                            </div>
                        </div>

                        <div class="list">
                            <div class="tbl-holder" ng-class="{ 'custom-scroll' : isChrome }">
                                <table class="table table-striped table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="SelectAllPreviousEmployment" ng-model="SelectAllPreviousEmployment" ng-click="CheckAllPreviousEmployment()" />
                                                <label for="SelectAllPreviousEmployment"></label>
                                            </th>
                                            <th>Company</th>
                                            <th>Position</th>
                                            <th>Address</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Recent Salary</th>
                                            <th>Reason For Leaving</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in SchemaPreviousEmployment">
                                            <td class="tbl-ctrl">
                                                <input type="checkbox" class="tbl-check" id="sdc-3-{{$index}}" ng-model="d.IsChecked" />
                                                <label for="sdc-3-{{$index}}"></label>
                                            </td>
                                            <td><input class="form-control" type="text" name="Company" ng-model=d.Company></td>
                                            <td><input class="form-control" type="text" name="Position" ng-model=d.Position></td>
                                            <td><input class="form-control" type="text" name="Address" ng-model=d.Address></td>
                                            <td>
                                                <div class="input-group custom-ig-lu">
                                                    <input type="text" name="From" ng-min="Today" ng-model="d.From" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control" />
                                                    <span class="input-group-btn lu">
                                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group custom-ig-lu">
                                                    <input type="text" name="To" ng-min="Today" ng-model="d.To" ng-input text-type="'date'" format="MM/DD/YYYY" placeholder="mm/dd/yyyy" class="form-control" />
                                                    <span class="input-group-btn lu">
                                                        <button class="btn btn-default lookup-btn" type="button"><i class="fas fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </td>
                                            <td><input class="form-control" type="number" name="Salary" ng-model=d.Salary></td>
                                            <td><input class="form-control" type="text" name="ReasonForLeaving" ng-model=d.ReasonForLeaving></td>

                                        </tr>
                                        <tr class="no_record" ng-if="SchemaPreviousEmployment.length == 0">
                                            <td>
                                                <div class="no-rec-ico">
                                                    <i class="fas fa-file-alt"></i>
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <p>No record found.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ew-footer">
                        <button class="btn" type="button" ng-click="close()">Exit</button>
                        <div class="efr">
                            <button class="btn" type="button" ng-click="Prev()" ng-if="currentEmpTab > 0">Prev</button>
                            <button class="btn nxt" type="submit"><span ng-bind="(currentEmpTab == 6 ? 'Finish' : 'Next')"></span></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>